### Intellij ###
.idea/
**/out/*
!**/out/.gitkeep
.idea_modules/
*.iml
modules.xml
*.ipr

### Java ###
**/doc/*
!**/doc/.gitkeep
*.class
*.log
*.ctxt
*.jar
*.zip
*.tar.gz
*.rar

!**/deps/*.jar

### UML ###
**/uml/*.png

*.pdf